<h2 class="text-center mt-3">Surveys</h2>
<div class="row mt-4">
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <img class="card-img-top" src="../../assets/img/car.jpg" alt="Card image cap" height="250">
            <div class="card-body">
                <h4 class="card-title">Cars Surveys</h4>
                <p class="card-text">If you have a problem with your car and want us to help you to figure out where the issue might be</p>
                <div class="text-right">
                    <button class="btn btn-primary text-white text-right">Help Me!</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="card">
            <img class="card-img-top" src="../../assets/img/pic3.jpg" alt="Card image cap" height="250">
            <div class="card-body">
                <h4 class="card-title">Cat Surveys</h4>
                <p class="card-text">If you have a problem with your Cat and want us to help you to figure out where the issue might be</p>
                <div class="text-right">
                    <button class="btn btn-primary text-white text-right">Help Me!</button>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-6 col-lg-4">
        <div class="card">
            <img class="card-img-top" src="../../assets/img/pic4.jpg" alt="Card image cap" height="250">
            <div class="card-body">
                <h4 class="card-title">Coffee Surveys</h4>
                <p class="card-text">If you have a problem with your Coffee and want us to help you to figure out where the issue might be</p>
                <div class="text-right">
                    <button class="btn btn-primary text-white text-right">Help Me!</button>
                </div>
            </div>
        </div>
    </div>
</div>